#groomly-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: $col-gray-background;
  #groomly-navbar {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: $col-purple-primary;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $col-purple-dark;
    .name {
      font-size: 48px;
      font-family: Roboto;
      color: $white;
      font-weight: bold;
    }
  }
}
