$white: white;
$col-gray-background: #E1E2E1;
$col-light-gray-background: #F5F5F6;
$col-purple-primary: #512da8;
$col-purple-light: #8559da;
$col-purple-dark: #140078;

$col-pink-primary: #ff5252;
$col-pink-light: #ff867f;
$col-pink-dark: #c50e29;
