// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tickets-container {
  display: flex;
  height: 100%;
  width: 100%;

  .left-box {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    background-color: $col-gray-background;
    flex-shrink: 0;
    border-right: 2px solid black;

    .vote-cards {
      display: flex;
      flex-basis: 60%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      a {
        color: inherit;
        text-decoration: none;
        .vote-card {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 80px;
          padding: 20px;
          width: 150px;
          height: 200px;
          background-color: $col-purple-light;
          border: 1px solid black;
          margin: 10px;
          border-radius: 20px;
          color: $white;
          &.selected-vote-card {
            background-color: $col-pink-primary
          }
          &:hover {
            background-color: $col-pink-light;
          }
        }
      }
    }
    .tickets {
      display: flex;
      flex-direction: column;
      flex-basis: 40%;
      overflow: auto;
      border-top: 2px solid black;
      .ticket-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
        border-bottom: 1px solid white;
        padding: 8px;
        color: black;
        &:hover {
          text-decoration: none;
          color: white;
          background-color: $col-purple-primary;
        }
        &.selected {
          background-color: $col-purple-light;
          color: white;
        }
        .summary {
          text-overflow: ellipsis;
          margin-left: 8px;
        }
      }
    }
  }
  .right-box {
    display: flex;
    flex-basis: 25%;
    background-color: gray;
    flex-shrink: 0;
    .sidebar{
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      .title {
        font-size: 24px;
        color: white;
        height: 150px;
        overflow:scroll;
      }
      .description {
        margin-top: 20px;
        .description-title {
          font-size: 18px;
          color: white;
        }
        .description-body {
          font-size: 14px;
          color: black;
          border-radius: 4px;
          background-color: white;
          padding: 4px;
          min-height: 32px;
          max-height: 260px;
          overflow: scroll;
          word-wrap: break-word;
        }
      }
      .votes {
        margin-top: 32px;
        color: white;
        .vote-title {
          color: white;
          font-size: 24px;
        }
        .vote {
          font-size: 18px;
          background-color: $col-purple-light;
          display: flex;
          justify-content: flex-start;
          margin-top: 16px;
          .vote-value {
            margin-left: 24px;
          }
        }
      }
    }
  }
}
