<!DOCTYPE html>
<html>
  <head>
    <title>Groomly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="groomly-container">
      <div id="groomly-navbar">
        <div class="name">
          Groomly
        </div>
        <div class="logout">
          
        </div>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
